* {
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
.navbar {
  background-color: white;
  padding-left: 9rem;
  padding-right: 9rem !important;
  padding-bottom: 0.4rem;
  padding-top: 0.3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  top: 0;
  position: fixed;
  z-index: 100;
  & i,
  span {
    color: grey;
  }
}
.logoNsearch {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  & input {
    width: 19rem;
    height: 2.3rem;
    border-radius: 4rem;
    border: 1px solid grey;
    outline: none;
  }
  input::placeholder {
    color: rgb(132, 131, 131);
    font-weight: 100;
  }
  & i {
    color: rgb(63, 94, 179);
    align-items: center;
    font-size: 40px;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: none;
  }
}
.search-container {
  position: relative;
}

.search-container::before {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/></svg>");
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  pointer-events: none;
}

.search {
  &::placeholder {
    padding-left: 11%;
  }
}
.txt_in {
  font-weight: 900;
  font-size: 30px;
}
.navbar_middle_icon {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-right: 1px solid rgb(220, 175, 175);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 1.5rem;
  margin-left: 5rem;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  & i {
    font-size: 25px;
  }
}

.hover:hover {
  & i {
    cursor: pointer;
    color: black !important;
  }
  
  & span {
    cursor: pointer;
    color: black !important;
  }
}

.my_network {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  & i {
    font-size: 25px;
  }
  & span {
    white-space: nowrap;
  }
}
.jobs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  & i {
    font-size: 25px;
  }
}
.messaging {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  & i {
    font-size: 25px;
  }
}
.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  & i {
    font-size: 25px;
  }
}
.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.navbar_profile {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: rgb(144, 140, 140);
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
  & img {
    /* border: 2px solid rgb(255, 240, 240); */
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.navbar_last_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.business {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  & i {
    font-size: 25px;
  }
  & span {
    white-space: nowrap;
  }
}
.try_premium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  & i {
    font-size: 25px;
    color: goldenrod;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: unset;
    background: linear-gradient(
      45deg,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      rgb(219, 162, 20),
      black 40%,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod
    );
  }
  & span {
    white-space: nowrap;
    margin-top: 4px;
  }
}

.main_container {
  background-color: rgba(241, 236, 238, 0.813);
  display: flex;
  flex-direction: row;
  padding-left: 8.5rem;
  padding-right: 7rem;
  padding-top: 5rem;
  height: 100vh;
  position: relative !important;
}

#first_container {
  width: 15%;
  display: flex;
  flex-direction: column;
  position: fixed !important;
}
#second_container {
  width: 49%;
  margin-left: 20%;
}
#third_container {
  width: 26%;
  margin-left: 2%;
}
.sec1_box1 {
  height: 18%;
  /* min-width: 13rem; */
  background-color: rgb(205, 182, 191);
  /* pading: 1rem; */
  /* border: 1px solid rgb(117, 125, 120); */
  /* border-radius: 7px; */
}
.sec1_box2 {
  height: 7%;
  margin-top: 8px;
  /* border: 1px solid rgb(117, 125, 120); */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* border-radius: 7px; */
}
.sec1_box3 {
  height: 7%;
  margin-top: 8px;
  /* border: 1px solid rgb(117, 125, 120); */
  padding: 1rem;
  background-color: white;
  /* border-radius: 7px; */
}
.sec1_box4 {
  height: 15%;
  margin-top: 8px;
  /* border: 1px solid rgb(117, 125, 120); */
  padding: 1rem;
  background-color: white;
  /* border-radius: 7px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sec2_box1 {
  height: 12%;
  background-color: white;
  padding: 1rem !important;
}
.sec2_box2 {
  height: 75%;
  margin-top: 10px;
  background-color: white;
}
.sec3_box1 {
  height: 15%;
  padding: 1rem;
  background-color: white;
}
.sec3_box2 {
  height: 60%;
  margin-top: 14px;
  padding: 1rem;
  background-color: white;
}
.sec3_box3 {
  height: 10%;
  border: 1px solid rgb(117, 125, 120);
  margin-top: 14px;
  padding: 1rem;
}

.sec1_box1_profile {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  background-color: gray;
  box-sizing: border-box;
  position: absolute;
  margin-left: 1rem;
  margin-top: 2rem;
  &:hover {
    cursor: pointer;
  }
  & img {
    border: 1px solid rgb(255, 240, 240);
    object-fit: cover;
    width: 79px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}

.bio {
  background-color: white;
  /* height: 10%; */
  padding: 1rem;
  margin-top: 25%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bio_name {
  white-space: nowrap;
  font-size: 1.6em;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 2.4rem;
  &:hover {
    cursor: pointer;
  }
}
.bio_prof {
  font-size: 0.9em;
  margin-top: 0.2rem;
  &:hover {
    cursor: pointer;
  }
}
.bio_address {
  font-size: 1em;
  margin-top: 0.4rem;
  color: rgb(123, 99, 99);
  &:hover {
    cursor: pointer;
  }
}
.bio_college {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 0.4rem;
  &:hover {
    cursor: pointer;
  }
}
.bio_clzLogo {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}
.bio_clzName {
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  &:hover {
    cursor: pointer;
  }
}
a {
  color: black;
  margin-bottom: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.sec1_box2_second_span {
  display: flex;
  color: rgb(123, 99, 99);
}
a img {
  height: 17px;
  width: 18px;
  background-color: black;
}
.second_link {
  display: flex;
  justify-content: space-between;
  margin-bottom: unset;
}
.sec1_box3_firstSpan {
  color: rgb(123, 99, 99);
  font-weight: lighter;
  font-size: 15px;
  white-space: nowrap;
}
.sec1_box3 {
  &:hover {
    cursor: pointer;
    .sec1_box3_secondSpan {
      color: rgb(85, 72, 201);
    }
  }
}
.sec1_try_premium {
  margin-top: 0.4rem;
  display: flex;
  gap: 0.5rem;
  &:hover {
    cursor: pointer;
  }
  & i {
    font-size: 20px;
    color: goldenrod;
    width: 1rem;
    height: 1rem;
    border-radius: unset;
    background: linear-gradient(
      45deg,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      black 50%,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod,
      goldenrod
    );
  }
  & span {
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
  }
}

.sec1_box4_first {
  /* padding-left: 1rem; */
  display: flex;
  gap: 1rem;
  &:hover {
    cursor: pointer;
  }
}
.sec1_box4_second {
  /* padding-left: 1rem; */
  display: flex;
  gap: 1rem;
  &:hover {
    cursor: pointer;
  }
}
.sec1_box4_third {
  /* padding-left: 1rem; */
  display: flex;
  gap: 1rem;
  &:hover {
    cursor: pointer;
  }
}
.sec1_box4_fourth {
  /* padding-left: 1rem; */
  display: flex;
  gap: 1rem;
  &:hover {
    cursor: pointer;
  }
}
.first_img {
  width: 20px;
  height: 20px;
}
.second_img {
  width: 20px;
  height: 20px;
}
.third_img {
  width: 20px;
  height: 20px;
}
.fourth_img {
  width: 20px;
  height: 20px;
}
.sec1_box4_span {
  font-weight: bold;
}

.sec2_box1_profile {
  border-radius: 50%;
  border: 2px solid rgb(255, 240, 240);
  height: 3.5rem;
  width: 3.5rem;
  background-color: gray;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
  & img {
    object-fit: cover;
    width: 56px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}
.sec2_box1_first_flex {
  display: flex;
  gap: 0.5rem;
}
.sec2_box1_firstText {
  width: 34rem;
  height: 3.2rem;
  border-radius: 4rem;
  border: 0.3px solid rgba(128, 128, 128, 0.553);
  outline: none;
  &:hover {
    cursor: pointer;
    background-color: rgb(247, 241, 241);
  }
}
input::placeholder {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.53);
  font-size: 1.2em;
  padding: 1rem;
}
.sec2_box1_second {
  padding: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  gap: 7rem;
}
.sec2_box1_video {
  gap: 10px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
.sec2_box1_photo {
  gap: 10px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
.sec2_box1_writeArticle {
  gap: 10px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.sec2_box1_second i {
  font-size: 24px;
}
.sec2_box1_video i {
  color: green;
}
.sec2_box1_photo i {
  color: rgb(135, 135, 245);
}
.sec2_box1_writeArticle i {
  color: orange;
}

.sec2_extra {
  display: flex;
  margin-top: 0.4rem;
  justify-content: space-between;
  align-items: center;
  & .hr {
    cursor: pointer;
    border-bottom: 1px solid grey;
    width: 79%;
    border-radius: unset;
  }
}
.sec2_extra_option {
  & label,
  select {
    padding: 0.1rem;

    &:hover {
      cursor: pointer !important;
    }
  }
  &:hover {
    cursor: pointer !important;
  }
}
.sec2_extra_option label {
  color: grey;
}
.sec2_extra_option select {
  background-color: rgba(241, 236, 238, 0.813);
}
.top {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.top_word {
  color: grey;
}
.top_icon {
  display: flex;
  gap: 1rem;
}
.top_icon i {
  font-size: 30px;
  font-weight: lighter;
  color: gray;
  &:hover {
    cursor: pointer;
  }
}
.sec2_box2 hr {
  border-bottom: 0px solid grey;
  width: 95%;
  margin: auto;
}

.bottom {
  padding: 1rem;
  display: flex;
  margin-left: 0;
}
.sec2_box2_profile img {
  object-fit: cover;
  width: 3.3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

.sec2_box2_text {
  margin: 1rem;
  margin-top: 0;
  margin-right: 0;
  &:hover {
    cursor: pointer;
  }
  & h3:hover {
    color: blue;
  }

  .name {
    & span {
      color: rgb(139, 135, 135);
    }
    & i,
    span {
      margin-left: 0rem;
    }
  }
  .profession {
    & p {
      &:hover {
        cursor: pointer;
      }
      white-space: nowrap;
      font-size: 15px;
      color: rgb(139, 135, 135);
    }
  }
  & .post_time {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(139, 135, 135);
    & .dot {
      font-size: 1em;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    & i {
      color: rgb(89, 86, 86);
    }
  }
}
.sec2_description {
  margin: 1rem;
}

.btn_follow {
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  display: flex;
  gap: 0.3rem;
  color: rgb(166, 96, 231);
}

.sec2_img {
  margin-top: 1rem;
}

.sec3_today_puzzle {
  font-size: 20px;
  font-weight: bold;
}

.add_to_feed {
  display: flex;
  justify-content: space-between;
  & .text_feed {
    font-size: 20px;
    font-weight: bold;
  }
  & .i {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    font-style: italic;
    font-size: smaller;
    font-weight: bolder;
    color: white;
    width: 15px;
    background-color: black;
    text-align: center;
    border-radius: 20%;
  }
}

.follow_ppl_first,
.follow_ppl_second,
.follow_ppl_third {
  margin-top: 1rem;
  display: flex;
  margin-left: 0;
}
.follow_ppl_first_text,
.follow_ppl_second_text,
.follow_ppl_third_text {
  margin: 1rem;
  margin-top: 0;
  margin-right: 0;
  &:hover {
    cursor: pointer;
  }
  .profession {
    & p {
      &:hover {
        cursor: pointer;
      }
      font-size: 15px;
      color: grey;
    }
  }
}
.follow_ppl_btn {
  margin-top: -0.6rem;
  height: 2.4rem;
  width: 7rem;
  margin-left: 3.8rem;
  background-color: white;
  display: flex;
  gap: 0.3rem;
  padding: 3px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  & i {
    font-size: 35px;
    font-weight: 200;
  }
  & span {
    font-size: 18px;
    font-weight: bold;
  }
  &:hover {
    cursor: pointer;
  }
}